@model DataLayer.Page

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
            @*<img src="@Url.Action("","",new { id = Model.ImageName})" asp-append-version="true" />*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowInSlideshow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowInSlideshow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageGroup.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success ml-2">ویرایش</a>
    <a asp-action="Index" class="btn btn-dark">بازگشت</a>
</div>
